.icon-left {
  position: absolute;
  top: 100px;
  left: 100px;
}

.icon-right {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.season-display.winter i {
  color: blue;
}

.season-display.summer i {
  color: red;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.winter {
  background-color: #94d0cc;
}

.summer {
  background-color: orange;
}

.red {
  border: 10px solid red;
}
